header {
    display: flex;
    justify-content: space-between;
    background: #e50079;
    color: white;
}

header > nav {
    display: flex;
    justify-content: flex-end;
}

.navbar__links {
    list-style: none;
}

.navbar__links li {
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    padding: 20px 20px;
}

.navbar__links li a {
    color: white;
    font-size: 18px;
}

.navbar__links li:hover {
    background: #ff009c;
}