#register-form__wrapper {
    width: 70%;
    max-width: 1000px;
    padding: 20px;
    height: auto;
}

#register-form__wrapper h2 {
    margin-bottom: 40px;
}

.register-form__row {
    display: flex;
    align-items: flex-start;
}

.register-form__column {
    flex: 50%;
}

.register-form__group {
    display: flex;
    margin-top: 40px;
}

.register-form__group:first-child {
    margin-top: 0;   
}

.register-form__label {
    flex: 1;
    padding-right: 10px;
    text-align: right;
}

.register-form__group input {
    line-height: 2em;
    flex: 2;
}

.register-form__group input[type="text" ], .register-form__group input[type="password" ] {
    text-indent: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.register-form__validation-error {
    text-align: right;
    font-size: 12px;
    height: 15px;
    color: red;
    margin-top: 2px;
}

.register-form__label-checkbox {
    flex: 2;
}

.register-form__group-btns{
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
}

.register-form__btn {
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 10px;
}

#register-form__register-btn {
    background-color: #255aa6;
    color: white;
    border: 1px solid #1d4e96;
    margin-right: 10px;
}

#register-form__cancel-btn {
    background-color: white;
    color: gray;
    border: 1px solid darkgray;
}